@import "tailwindcss";
@plugin "daisyui";

/* опціонально – легкий базовий фон і згладжування */
:root { color-scheme: light; }
body { background: #f8fafc; color: #0f172a; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
